@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

body {
  background-color: #040a19;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Cormorant, serif;
}

a {
    cursor: pointer;
}

#root {
    text-align: center;
}

.App {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

#main-body {
    text-align: left;
    position: absolute;
    top: 300px;
}

#header {
    width: 800px;
    height: 300px;
    position: fixed;
    font-size: 40px;
    color: #feffc1;
    text-align: center;
    background-color: #040a19;
    z-index: 10;
}

#header div {
    position: relative;
    margin: 0px auto;
}

#header div#signature {
    margin-top: 10px;
}

#header div#name {
    margin-top: -50px;
}

#main-menu {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 22px;
}

#main-menu a {
    margin-right: 10px;
}

#side-menu {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 300px;
    font-size: 20px;
}

#side-menu a {
    text-decoration: none;
    color: #fff;
}

#side-menu a:hover, #side-menu a:active, #side-menu a.active {
    color: #feffc1;
    font-weight: bold;
}

#content-area {
    display: inline-block;
    width: 590px;
    position: absolute;
    right: -800px;
}

.divider {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

img.thumbnail {
    display: inline-block;
    margin-right: 10px;
    width: 190px;
    height: 190px;
}

img.thumbnail:nth-child(3),
img.thumbnail:nth-child(6) {
    margin-right: 0px;
}


