@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

/*
colors:

yellow: #feffc1
dark blue: #101629 rgb(16, 22, 41)
*/

body {
  background-color: #101629;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Cormorant, serif;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #feffc1;
}

#root {
    text-align: center;
}

.App {
    width: 800px;
    position: relative;
    margin: 0 auto;
    z-index: 10;

}

#animations {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#main-body {
    text-align: left;
    position: absolute;
    top: 300px;
}

#header {
    width: 800px;
    height: 300px;
    position: fixed;
    font-size: 50px;
    color: #feffc1;
    text-align: center;
    background-color: #101629;
    z-index: 10;
}

#header div {
    position: relative;
    margin: 0px auto;
}

#header div#signature {
    margin-top: 10px;
}

#signature {
    background-image: url("http://localhost:4000/images/site/signature.png");
    width: 417px;
    height: 212px;
}

#header div#name {
    margin-top: -120px;
}

#header div#main-menu {
    margin-top: 80px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 22px;
}

#main-menu a {
    margin-right: 15px;
    color: #feffc1;
    text-decoration:none;
}

#main-menu a:hover {
    text-decoration:underline;
}

#side-menu {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 300px;
    font-size: 20px;
}

#side-menu a {
    text-decoration: none;
    color: #fff;
}

#side-menu a:hover, #side-menu a:active, #side-menu a.active {
    color: #feffc1;
    font-weight: bold;
}

#content-area {
    display: inline-block;
    width: 590px;
    position: absolute;
    right: -800px;
}

.divider {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

.thumbnail {
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 0px;
    margin: 0 10px 10px 0;
    width: 190px;
    height: 190px;
    background-color: #6e4733;
    background-blend-mode: screen;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.thumbnail .project-title {
    font-size: 16px;
}

.thumbnail img {
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
}

.thumbnail img:hover {
    /*mix-blend-mode: multiply;*/
    opacity: 0.2;
}

.thumbnail:nth-child(4),
.thumbnail:nth-child(7) {
    margin-right: 0px;
}

.lightbox-image-stage {
    background: rgba(16, 22, 41, 0.9);
    margin: 0 !important;
}



