@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

body {
  background-color: #040a19;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Cormorant, serif;
}

#header {
    height: 300px;
}

#signature {
    background-color: #040a19;
}

#signature div {
    mix-blend-mode: overlay;
}

#side-menu {
    display: inline-block;
    vertical-align: top;
}

#content-area {
    display: inline-block;
    width: 590px;
}

.divider {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

img.thumbnail {
    display: inline-block;
    margin-right: 10px;
    width: 190px;
    height: 190px;
}

img.thumbnail:nth-child(3),
img.thumbnail:nth-child(6) {
    margin-right: 0px;
}


